body {
    font-family: 'roboto';
    background-color: #FFAC39;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
#gradient {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.hidden{
    display: none;
}
/*  HEADER */

.mainbar {
    background-color: white;
    margin-bottom: 20px;
}
.mainbar a {
    height: 6em;
    vertical-align: middle;
    line-height: 5em;
}
.mainbar ul {
    margin: 2em 0;
}

h1 {
    width: 90%;
    margin: auto;
    height: 2em;
    display: block;
    background-color: #337ab7;
    line-height: 2em;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.6em;
}
h2 {
    width: 90%;
    margin: auto;
    height: 2em;
    display: block;
    line-height: 2em;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.6em;
}


/* BODY */

.tab-content {
    margin-bottom: 100px;
}
table {
    background-color: white;
}
tr {
    height: 40px;
}
th {
    text-align: center;
}
.progress-bar {
    transition: 0.1s !important;
}
.promote-king,
.promote-queen {
    background-color: #a9d9a9;
    border: none;
    color: black;
    font-weight: bold;
}
.supprimer-critter-king,
.supprimer-critter-queen {
    background-color: #ef9696;
    border: none;
    color: black;
    font-weight: bold;
}
.promote-king:hover,
.promote-queen:hover,
.promote-king:focus,
.promote-queen:focus {
    background-color: #9ace9a;
    border: none;
    color: black;
    font-weight: bold;
}
.supprimer-critter-king:hover,
.supprimer-critter-queen:hover,
.supprimer-critter-king:focus,
.supprimer-critter-queen:focus {
    background-color: #de7777;
    border: none;
    color: black;
    font-weight: bold;
}
.worker-king,
.worker-queen{
    background-color: #d0e380;
    border:none;
    color:black;
    font-weight: bold;
}
.worker-king:hover,
.worker-king:focus,
.worker-queen:hover,
.worker-queen:focus {
    background-color: #bfd36e;
    border:none;
    color:black;
    font-weight: bold;
}
.soldier-king,
.soldier-queen{
    background-color: #ac6551;
    border:none;
    color:black;
    font-weight: bold;
}
.soldier-king:hover,
.soldier-king:focus,
.soldier-queen:hover,
.soldier-queen:focus {
    background-color: #ac6551;
    border:none;
    color:black;
    font-weight: bold;
}

.mutation {
    font-weight: normal;
}


/* USINE */

#usine button,
#army button{
    height: 3.65em;
}

.usine-creation .well{
    background-color: #2067a3;
    border: 1px solid #145d9a;
    height: 5.5em;
}
.usine-creation div p {
    color: white;
    font-size: bold;
    text-align: center;
    line-height: 1.5em;
}

/* ARMY */

.war #row1 {
    background-color: azure;
}
.war td {
    text-align: center;
}
.war .table>tbody>tr>td {
    border-style: none;
    cursor: pointer; 
    cursor: hand;
}

.battle-critter{
    border: 1px solid #2067a3;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.battle-critter .progress{
    margin-bottom: 0;
    margin-top: 10px;
}
.battle-critter p {
    display: inline;
}
.battle-critter p:nth-child(2) {
    color:red;
    font-weight: bold;
}

/* SAVEBAR */

.save-bar {
    background-color:#535353;
    padding: 15px 0;
    position: fixed;
    bottom:0px;
    width: 100%;
}
.save-bar > .row{
    margin: 0;
}
.savePop {
    position: fixed;
    bottom: 70px;
    height: 100px;
    line-height: 60px;
    background-color: #ff9797;
    display: none;
    border: none;
}

.infoPop {
    position: fixed;
    bottom: 70px;
    min-height: 100px;
    margin-top: 50%;
    color: white;
    background-color: #55a2e5;
    border: none;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */ 
}

/* QTIP */

.custom-qtip {
    width: 30vw !important;
}
.custom-qtip h2{
	margin: 5px auto;
    padding: 0;
    border: none;
}
